<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans+Symbols:wght@200;400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <title>BOOLEANZAPP</title>
</head>

<body>
   <div id="app">
     <div class="container border h-100">
       <div class="row h-100 flex-nowrap">
        <div class="col-12 col-md-4 d-md-block contacts" :class="{'d-none':showchat}">
          <div class="row h-100 flex-column">
           <div class="header p-1 d-flex justify-content-between">
            <div class="myavatar  d-flex">
              <img src="img/avatar_io.jpg" alt="">
              <h5 class="mt-2 ms-1">sofia</h5>
            </div>
            <div>
                <i class="fa-solid fa-spinner mt-3 me-3" style="color: #a9afb7;"></i>
                <i class="fa-solid fa-message me-3" style="color: #a9afb7;"></i>
                <i class="fa-solid fa-ellipsis-vertical me-3"style="color: #a9afb7;"></i>
            </div> 
           </div>
           <div class="col-12 notif d-flex">
            <div class="notifdiv ms-2">
                <i class="fa-solid fa-bell-slash" style="color: #8edafc;;"></i>
            </div>
            <div>
                <span class="ms-2 d-block">ricevi notifiche di nuovi messaggi</span>
                <a href="" class="ms-3">attiva notifiche desktop</a>
            </div>
            
           </div>
           <div class="col-12 search">
            <input class="form-control mr-sm-2 mt-2 mb-2" type="search" placeholder="cerca o inizia una nuova chat" aria-label="Search" v-model="filtercontact" @input="filterContacts">
           </div>
           <div class="flex-grow-1 col-12 overflow-y-auto h0">
            <div class="d-flex" v-for="utenti in filteredContacts" @click="ChangeActiveUser(utenti.id)">
                <img :src="utenti.avatar" alt="" class="imgcont">
                <div class="p-1">
                    <h5>{{utenti.name}}</h5>
                    <p>{{utenti.messages[utenti.messages.length-1].message}}</p>
                </div>
                
                
            </div>
           </div>
          </div>
        </div>
        <div class="col-12 col-md-8 bg-white d-md-block" :class="{'d-none': !showchat}">
          <div class="row h-100 flex-column">
            <div class="col-12 header">
                <div class="  d-flex  justify-content-between">
                  <div class="d-flex">
                    <img :src="contacts[activeindex].avatar" alt="" class="imgchat">
                    <div>
                      <h5 class="ms-1">{{contacts[activeindex].name}}</h5>
                      <p class="mb-1">ultimo accesso oggi alle {{contacts[activeindex].messages[contacts[activeindex].messages.length - 1].date}}</p>
                    </div>
                  </div>
                    <div class="mt-3 me-3">
                      <i class="fa-solid fa-arrow-left" @click="showchat=false"></i>
                      <i class="fa-solid fa-magnifying-glass ps-4"></i>
                    </div>
                    
                  </div>
            </div>
            <div class="col-12 flex-grow-1 chat flex-column d-flex h0" ref="messageContainer">
              <div class="message d-flex justify-content-between  " v-for="(messaggio,index) in contacts[activeindex].messages"  :class="{ 'mandato': messaggio.status === 'sent', 'ricevuto': messaggio.status === 'received' }">
                    <div class="messaggiowid">
                      <p class="ms-1 mt-1 flex-grow-1 p-1">{{ messaggio.message }}</p>
                      <p class="datamsg">{{messaggio.date}}</p>
                    </div>
                    
                    
                    <div class=" mt-3 dropdown" >
                      <i class="fa-solid fa-chevron-down  hovers" @click="openoption(index)"></i>
                      <ul class="dropdown-menu  positionmsg" :class={'show':messageindex===index}>
                        <li class="dropdown-item" @click="eliminamsg(index)">elimina messaggio</li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex mess">
                <i class="fa-regular fa-face-smile smile" style="color: #c4c8cf;"></i>
                <input v-model.trim="sendmsg" class="form-control ms-4 mt-2 mb-2 sendmsg" type="text" placeholder="scrivi un messaggio" aria-label="Search" @keyup.enter="addmessage">
                <i class="fa-solid fa-microphone smile ms-3" style="color: #c4c8cf;"></i>
            </div>
          </div>
        </div>
       </div>
     </div>
   </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>

</html>



