body{
    font-family:'Lato'sans-serif;
}
:root{
    --color-white:#ffffff;
    --color-dark-text:#161012;
    --color-dark-grey:#6b7376;
    --color-text-grey:#b6bbc1;
    --color-headers:#eaeaea;
    --color-contact-hover:#e9ebeb;
    --color-light-icons:#b1b1b1;
    --color-sent-message:#d5f9ba;
    --color-notification:#8edafc;
    --background:linear-gradient(180deg,#009688 18.55%,#D9D8D5 18.56%);
    
}
#app{
    width: 100%;
    height:100vh;
    background:var(--background);
    padding: 15px;
}
.contacts{
    background-color:var(--color-white);
}
.header{
    background-color: var(--color-headers);
    border-right: 1px solid grey;
}
.myavatar{
    height:50px
}
.myavatar img{
    width: 50px;
    height: 50px;
    border-radius:50px;
}
.fa-solid{
    font-size: 1.4em;
}
.notif{
    background-color: var(--color-notification);
    padding: 5px 0 5px 0;
    

}
.notifdiv{
  width: 35px;
  height: 35px;
  background-color: var(--color-white);
  border-radius: 50px;
  display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
}
.search{
    background-color: var(--color-contact-hover);
}
.imgcont{
    width: 60px;
    height: 60px;
    border-radius:50px;
    margin: 10px;
}
.h0{
    height: 0;
}
.imgchat{
    width: 50px;
    height: 50px;
    border-radius:50px;
    margin: 5px;
}
.chat{
    background-image: url(/img/mine.jpg);
}
.mandato{
    background-color: var(--color-sent-message);
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-top: 15px;
    align-self: flex-end;
}
.ricevuto{
    background-color: var(--color-white);
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-top: 15px;
    align-self: flex-start;
}